/* Code to align details in cv */


#h{

	font-size: 14pt;
	font-family: Verdana;
}


p, li{
	font-size: 8.5pt;
	font-family: Verdana;
}

div.header-row{
	text-align: center;
}

hr {
	border: 0;
	color: black;
	background-color: black;
	height: 2px;
}

div.col-md-3 {
	text-align: right;
}